@font-face {
  font-family: 'RobotoMono-Regular';
  font-weight: normal;
  src: url('./fonts/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Hakgyoansim-Badasseugi';
  font-weight: normal;
  src: url('./fonts/Hakgyoansim-Badasseugi.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f5f2;

  font-family: 'RobotoMono-Regular', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
